# 忽略所有的 CSV 文件
*.csv

# 忽略所有的 PNG 图片文件
*.png

*.zip
*.exe
datasets/Readme.txt
SpectraNetWithAttention.py
outputs
autoshut.sh
configs/image64_64.yaml
configs/image64_128.yaml
configs/image96_64.yaml
configs/image96_128.yaml
configs/image128_64.yaml
configs/image128_128.yaml
plot_spectra.py
